/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
}

/* my code below */
/* 62.5% for easy rem unit coversion */
html {
    font-size: 62.5%;
}
h3 {
    font-size: 1.6rem;
}
#viewSettings {
    max-width:877px;
    margin: 0 auto;
}

nav {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    font-size: 1.6rem;
}
nav a {
    text-decoration: none;
    color: gray;
}
.index {
    padding-top: 6.0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    padding-bottom: 6.0rem;
}
.index h1 {
    font-size: 7.0rem;
    text-align: center;
    align-self: center;
    /* margin: 0px auto; */
}

.index h1 p {
    margin-bottom: -9.5rem;
}

.index button {
    font-size: 1.6rem;
    background-color: white;
    padding: 0.5rem 3.2rem;
    border: 0.1rem solid black;
    /* padding-top: 0; */
}
.index button:hover {
    font-size: 2.4rem;
	background-color: f8f8ff;
	padding: 5px 40px;
	border: 2px outset black;
}

#text-above-img, #text-below-img {
    display: grid;
    font-size: 1.6rem;
    grid-gap: 1rem;
    margin: 1.7rem 0 .8rem 0;
}
#text-above-img {
    margin-top: 2.0rem;
    grid-template-columns: 1fr 1fr;
}
#text-below-img {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 2.0rem;
}
footer {
    margin-top: 2.0rem;
    font-size: 1.6rem;
    max-width: 100%; 
}
footer p {
    text-align: center;
    margin-top: 5.0rem;
}